.title {
  text-align: center;
}
.img {
  width: 120px;
  height: 40px;
  margin: 0 0 5px 0;
  display: inline-block;
  text-align: top;
}

.navBar {
  display: -webkit-box !important;
  align-items: flex-end;
}
.navBar a {
  margin-left: auto;
  margin-right: auto;
}
.bar {
  background-color: rgb(91, 150, 197) !important;
}
.navBrand {
  background-color: white !important;
  border-radius: 30px;
  box-shadow: 0px 1px 1px white;
}

.logo {
  height: 30px !important;

  margin-top: 0px !important;
}
